@charset "utf-8";
/* ===================
common
=================== */
html {
    font-size: 62.5%;
}

body {
    font-family:
     'Noto Sans JP',
     Arial,
     sans-serif;
    font-style: normal;
    color: #2F2F2F;
    background-color: #FFF;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.section__topic {
    font-family: 'Arial';
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}

/* ===================
header
=================== */
.header {
    padding: 24px 6.4% 16px;
}

.header__topic,
.nav__topic {
    color: #000;
    font-size: 2.4rem;
    font-weight: 700;
}

/* .nav初期表示 */
.nav {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 24px 6.4%;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    margin-top: 64px;
}

.nav__item {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 52px;
    /* color: #2F2F2F; */
}

.nav__item img {
    display: inline-block;
    vertical-align: -3px;
    width: 22px;
    height: 22px;
    margin-right: 24px;
}

/* .nav.active表示 */
.nav.active {
    transform: translateX(0);
}

.header__btn {
    display: block;
    width: 18px;
    height: 11px;
    cursor: pointer;

    position: absolute;
    top: 37px;
    right: 6.4%;
}

/* header pc */
@media screen and (min-width: 769px) {
    .header {
        max-width: 1280px;
        padding: 48px 60px 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__topic {
        font-size: 3.2rem;
        line-height: 1;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        position: static;
        padding: 0;
        transform: translate(0);
    }

    .nav__list {
        margin-top: 0;
        display: flex;
    }

    .nav__item {
        margin-top: 0;
        color: #FF7000;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3;
        margin-left: 32px;
    }

    .nav__header {
        display: none;
    }

    .nav__item img {
        display: none;
        margin-right: 0;
    }

    .nav__item:first-of-type {
        display: none;
    }
    
    .header__btn {
        display: none;
    }
} 
/* pc 769px */

/* ===================
main
=================== */

/* article header */
.mainImg .mainImg__pc {
    display: none;
}

.mainTopics {
    padding: 48px 6.4%;
}

.mainTopics__name {
    color: #FF7000;
    text-align: center;
    font-family: 'Arial';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.mainTopics__txt {
    font-size: 1.4rem;
    margin-top: 24px;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .mainImg .mainImg__sp {
        display: none;
    }

    .mainImg .mainImg__pc {
        display: block;
    }

    .mainTopics {
        max-width: 1280px;
        padding: 64px 0;
        margin: 0 auto;
    }

    .mainTopics__name {
        font-size: 3.2rem;
    }

    .spBr {
        display: none;
    }

    .mainTopics__txt {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 32px;
    }
}
/* pc 769px */

/* lineUp */
.section--lineUp {
    padding: 48px 4.2%;
    background-color: #FFF8E0;
}

.lineUp__item {
    margin-top: 20px;
}

.lineUp__item:first-of-type {
    margin-top: 32px;
}

.lineUp__content {
    padding: 16px;
    background-color: #FFF;
    border-radius: 0 0 8px 8px;
}

.lineUp__name {
    font-size: 1.8rem;
    font-weight: 700;
}

.lineUp__category {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 4px 16px;
    background-color: #FFF8E0;
    display: inline-block;
    margin-top: 16px;
}

.lineUp__txt {
    margin-top: 16px;
    font-size: 1.4rem;
}

/* lineUp pc */
@media screen and (min-width: 769px) {
    .section--lineUp {
        padding: 64px 0 96px;
    }

    .lineUp {
        display: flex;
        justify-content: center;
        max-width: 1280px;
        gap: 20px;
        padding: 0 60px;
        margin: 48px auto 0;
    }

    .lineUp__item {
        margin-top: 0;
        max-width: 373px;
    }

    .lineUp__item:first-of-type {
        margin-top: 0;
    }
}
/* pc 769px */

.detail {
    color: #FF7000;
    font-size: 1.4rem;
    margin-top: 16px;
}

.detail__location {
    border-bottom: 1px solid #FF7000;
}

.detail__txt {
    margin-top: 16px;
}

.btn {
    display: block;
    margin-top: 16px;
    padding: 16px 0 18px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 4px;
    background: #FF7000;
    position: relative;
    transition: 0.4s;
}

.btn::after {
    display: block;
    content: '';
    width: 7px;
    height: 12px;
    background-image: url(../images/btn-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.btn:hover {
    opacity: 0.5;
}

/* Access */
.section--access {
    padding: 48px 0;
}

.address {
    margin-top: 24px;
    font-size: 1.4rem;
    text-align: center;
}

.address img {
    margin-right: 8px;
    width: 20px;
    vertical-align: bottom;
}

.map {
    height: 400px;
    margin-top: 24px;
    width: 100%;
}

.directions {
    padding: 24px 6.4% 0;
}

.directions__item:last-of-type {
    margin-top: 24px;
}

.directions__topic {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.directions__txt {
    margin-top: 8px;
    font-size: 1.4rem;
}

/* Access pc */
@media screen and (min-width: 769px) {
    .section--access {
        padding: 64px 60px 96px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .address {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 32px;
    }

    .map {
        margin-top: 32px;
    }

    .directions {
        padding: 32px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .directions__item {
        width: 48%;
    }

    .directions__item:last-of-type {
        margin-top: 0;
    }

    .directions__topic {
        font-size: 1.8rem;
        line-height: 1; 
    }

    .directions__txt {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 16px;
    }
}
/* pc 769px */

/* News */
.section--news {
    padding: 48px 4.2%;
    background-color: #FF7000;
}

.section--news .section__topic {
    color: #FFF;
}

.news__list {
    margin-top: 32px;
    background-color: #FFF;
    padding: 24px 4.2%;
}

.news__topic {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 24px;
}

.news__topic:first-of-type {
    margin-top: 0;
}

.news__topic time {
    background-color: #FFF8E0;
    padding: 4px 16px;
    color: #FF7000;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 400;
}

.news__topic span {
    display: block;
    margin-top: 12px;
}

.news__txt {
    margin-top: 8px;
    font-size: 1.4rem;
}
/* News pc */
@media screen and (min-width: 769px) {
    .section--news {
        padding: 64px 0 96px;
    }

    .news__list {
        margin: 32px auto 0;
        max-width: 1160px;
        padding: 48px 96px;
    }

    .news__topic {
        font-size: 1.8rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
        margin-top: 32px;
    }

    .news__topic time {
        font-size: 1.6rem;
    }

    .news__topic span {
        margin-top: 0;
        margin-left: 20px;
    }
}
/* pc 769px */

/* ===================
footer
=================== */
.footer {
    padding: 32px 4.2%;
}

.foooter__topic {
    color: #000;
    font-family: 'Arial';
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.menu__list {
    margin-top: 32px;
}

.menu__item {
    color: #FF7000;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 16px;
}

.sns {
    margin-top: 32px;
    display: flex;
}

.sns__item {
    margin-right: 24px;
    width: 24px;
    height: 24px;
}

.copy {
    margin-top: 64px;
}

.copy small {
    font-size: 1.2rem;
}

/* footer pc */
@media screen and (min-width: 769px) {
    .footer {
        max-width: 1280px;
        padding: 64px 60px;
        margin: 0 auto;
    }

    .footer__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .foooter__topic {
        font-size: 2.4rem;
        line-height: 1;
    }

   .menu__list {
    display: flex;
    margin-top: 0;
   }

   .menu__item {
    margin-left: 32px;
    margin-top: 0;
   }

   .sns {
    justify-content: flex-end;
   }

   .sns__item {
    margin: 0 0 0 24px;
   }

   .copy {
    margin-top: 32px;
   }
}
/* pc 769px */
