@charset "utf-8";

/* ========================
common
======================== */
html {
    font-size: 62.5%;
}

body {
    font-family:
        "Noto Sans",
        Arial,
        sans-serif;
    font-style: normal;
    line-height: 1.5;
    background-color: #FFF;
    color: #2F2F2F;
}

img {
    max-width: 100%;
    height: auto;
}

.section__topic {
    color: #2F2F2F;
    text-align: center;
    font-family: Arial;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}

/* ========================
header
======================== */
.header {
    padding: 24px 6.4% 16px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__topic,
.nav__header {
    color: #000;
    font-size: 2.4rem;
    font-weight: 700;
}

.header__btn {
    display: block;
    width: 18px;
    height: 11px;
    cursor: pointer;
}

/* nav 非表示 */
.nav {
    background: rgba(255, 255, 255, 0.90);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 24px 6.4%;
    transform: translateX(-100%);
    transition: 0.4s;
}

/* nav 表示 */
.nav.active {
    transform: translateX(0);
}


.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__btn {
    width: 14px;
    height: 14px;
}

.nav__list {
    margin-top: 66px;
}

.nav__item img {
    margin-right: 24px;
    display: inline-block;
    vertical-align: -3px;
}

.nav__item {
    color: #2F2F2F;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 52px;
}

.nav__item:first-of-type {
    margin-top: 0;
}

/* header pc */
@media screen and (min-width: 769px) {
    .header {
        padding: 48px 60px 24px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__btn {
        display: none;
    }

    .nav {
        background: transparent;
        width: auto;
        height: auto;
        position: static;
        transform: translate(0);
        padding: 0;
    }

    .nav__header {
        display: none;
    }

    .nav__list {
        display: flex;
        margin-top: 0;
    }

    .nav__item {
        margin-top: 0;
        margin-left: 32px;
        color: #FF7000;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3;
    }

    .nav__item:first-of-type {
        display: none;
        margin-left: 0;
    }

    .nav__item img {
        display: none;
    }
}

/* pc 769px */

/* ========================
main
======================== */
/* article header */
.article__header--pc {
    display: none;
}

.mainTopic {
    padding: 48px 6.4%;
}

.mainTopics__name {
    color: #FF7000;
    text-align: center;
    font-family: Arial;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.mainTopics__txt {
    margin-top: 24px;
    font-size: 1.4rem;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .article__header--pc {
        display: block;
    }

    .article__header--sp {
        display: none;
    }

    .mainTopic {
        max-width: 1280px;
        margin: 0 auto;
        padding: 64px 0;
    }

    .mainTopics__name {
        font-size: 3.2rem;
    }

    .spBr {
        display: none;
    }

    .mainTopics__txt {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 32px;
    }
}

/* pc 769px */

/* lineUp */
.section--lineUp {
    padding: 48px 4.2%;
    background-color: #FFF8E0;
}

.lineUp__item {
    margin-top: 20px;
}

.lineUp__item:first-of-type {
    margin-top: 32px;
}

.lineUp__content {
    padding: 16px;
    background: #FFF;
    border-radius: 0 0 8px 8px;
}

.lineUp__name {
    font-size: 1.8rem;
    font-weight: 700;
}

.lineUp__category {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 20px;
    display: inline-block;
    background-color: #FFF8E0;
    padding: 4px 16px;
}

.lineUp__txt {
    font-size: 1.4rem;
    margin-top: 20px;
}

.lineUp__detail {
    color: #FF7000;
    font-size: 1.4rem;
    margin-top: 16px;
}

.detail__location {
    border-bottom: 1px solid #FF7000;
}

.btn {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    background-color: #FF7000;
    border-radius: 4px;
    display: block;
    padding: 16px 0 18px;
    position: relative;
    margin-top: 16px;
}

.btn::after {
    content: '';
    background-image: url(../images/btn-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 7px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

/* lineUp pc */
@media screen and (min-width: 769px) {
    .section--lineUp {
        padding: 64px 0 96px;
    }

    .lineUp {
        display: flex;
        gap: 20px;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 60px;
        justify-content: center;
    }

    .lineUp__item {
        margin-top: 48px;
        max-width: 373px;
    }

    .lineUp__item:first-of-type {
        margin-top: 48px;
    }

}

/* pc 769px */

/* access */
.section--access {
    padding: 48px 0;
}

.address {
    font-size: 1.4rem;
    margin-top: 24px;
    text-align: center;
}

.address img {
    margin-right: 8px;
    vertical-align: bottom;
    width: 20px;
}

.map {
    height: 400px;
    width: 100%;
    margin-top: 24px;
}

.directions {
    padding: 24px 6.4% 0;
}


.directions__item:last-of-type {
    margin-top: 24px;
}

.directions__topic {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.directions__txt {
    font-size: 1.4rem;
    margin-top: 8px;
}

/* access pc */
@media screen and (min-width: 769px) {
    .section--access {
        padding: 64px 0 96px;
        margin: 0 auto;
        max-width: 1280px;
    }

    .address {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 32px;
    }

    .map {
        margin-top: 32px;
        padding: 0 60px;
    }

    .directions {
        display: flex;
        justify-content: space-between;
    }

    .directions__item {
        margin-top: 32px;
        width: 48%;
    }

    .directions__item:last-of-type {
        margin-top: 32px;
    }

    .directions__topic {
        color: #FF7000;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1;
    }

    .directions__txt {
        font-size: 1.6rem;
        line-height: 1.3;
        margin-top: 16px;
    }

}

/* pc 769px */

/* news */
.section--news {
    background: #FF7000;
    padding: 48px 4.2%;
}

.section__topic--news {
    color: #FFF;
}

.news {
    background: #FFF;
    padding: 24px 4.2%;
}

.news__topic {
    color: #FF7000;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    margin-top: 24px
}

.news__topic:first-of-type {
    margin-top: 0;
}

.news__topic time {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    background: #FFF8E0;
    padding: 4px 16px;
    align-items: center;
}

.news__topic span {
    display: block;
    margin-top: 12px;
}

.news__txt {
    margin-top: 8px;
    font-size: 1.4rem;
}

/* news pc */
@media screen and (min-width: 769px) {
    .section--news {
        padding: 64px 0 96px;
    }

    .news {
        max-width: 1160px;
        padding: 48px 96px;
        margin: 0 auto;
    }

    .news__topic {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        margin-top: 32px;
    }

    .news__topic:first-of-type {
        margin-top: 0;
    }

    .news__topic time {
        font-size: 1.6rem;
        margin-right: 36px;
    }

    .news__topic span {
        margin-top: 0;
    }

    .news__txt {
        margin-top: 8px;
    }
}

/* pc 769px */

/* ========================
footer
======================== */
.footer {
    padding: 32px 4.2%;
}

.footer__topic {
    color: #000;
    font-family: Arial;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
}

.menu__list {
    margin-top: 32px;
}

.menu__item {
    color: #FF7000;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-top: 16px;
}

.menu__item:first-of-type {
    margin-top: 0;
}

.menu__item img {
    display: none;
}

.sns {
    display: flex;
    margin-top: 32px;
}

.sns__item {
    margin-right: 24px;
    width: 24px;
    height: 24px;
}

.sns__item:last-of-type {
    margin-right: 0;
}

.copy {
    margin-top: 64px;
}

/* footer pc */
@media screen and (min-width: 769px) {
    .footer {
        padding: 64px 60px;
        max-width: 1280px;
        margin: 0 auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__topic {
        font-family: "Noto Sans JP";
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
    }

    .menu__list {
        margin-top: 0;
        display: flex;
    }

    .menu__item {
        margin-left: 32px;
        margin-top: 0;
    }

    .menu__item:first-of-type {
        margin-left: 0;
    }

    .sns {
        margin-top: 32px;
        justify-content: flex-end;
    }

    .copy {
        margin-top: 32px;
    }
}

/* pc 769px */
